.ruleta{
  display: flex;
  padding: 20px;
  @media (max-width: 768px) {
    flex-direction: column;
    gap: 20px;
    padding: 0;
  }
  .ruleta_left_wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    .ruleta_circle{
      width: 40px;
      height: 40px;
      background-color: white;
      position: absolute;
      border-radius: 50%;
    }
    .ruleta_ping{
      position: absolute;
      right: 0;
      top: 70px;
      width: 45px;
      height: 45px;
      transform: rotate(50deg);
      @media (max-width: 768px) {
        width: 35px;
        height: 35px;
        right: 40px;
      }
       @media (max-width: 390px) {
        width: 35px;
        height: 35px;
        right: 20px;
      }
     
    }
    .ruleta_animated_ping{
      animation: animation_ping .1s linear 85 .2s ;
    }
    @keyframes animation_ping {
      0% { transform: rotate(45deg) }
      100% { transform: rotate(55deg);}
    } 
  }
  .ruleta_right_wrapper{
    .ruleta_play{
      height: 50px;
      width: 150px;
      padding: 10px;
      background: #DB061C;
      font-size: 16px;
      border-radius: 5px;
      color: #fff;
      font-weight: 500;
      cursor: pointer;
      &.ruleta_play_disabled{
        background-color: #ccc;
        cursor: auto;
      }
    }
  }
}