.spinner{
  width: 30px;
  height: 30px;
  border: 4px solid #eee;
  border-top: 4px solid #111;
  animation: spin 1s linear infinite;
  border-radius: 50%;
}

@keyframes spin {
  to{
    transform: rotate(360deg);
  }
}