@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap");

:root {
  --font-monserrat: "Montserrat", sans-serif;
  --font-size16: 16px;
  --font-size14: 14px;
  --color-black: #000;
  --color-white: #fff;
}
