input[type="checkbox"] {
  display: none;
}

.checkbox-label{
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
}

.checkbox-custom{
  width: 15px;
  height: 15px;
  border: 2px solid #888;
  border-radius: 4px;
  display: inline-block;
  position: relative;
  transition: background-color 0.3s, border-color 0.3s;
}

/* Marca de verificación */
.checkbox-custom::after{
  content: "";
  position: absolute;
  width: 5px;
  height: 12px;
  border: solid white;
  border-width: 0 2px 2px 0;
  left: 4px;
  transform: rotate(45deg);
  opacity: 0;
  transition: opacity 0.2s;
}

input[type="checkbox"]:checked + .checkbox-custom{
  background-color: #D50B8B;
  border-color: #D50B8B;
}

input[type="checkbox"]:checked + .checkbox-custom::after{
  opacity: 1;
}

.checkbox-label span:last-child{
  margin-left: 8px;
  font-size: 16px;
}