body{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-family: 'Montserrat';
  font-size: 16px;
}

input:focus,
button:focus
{
  outline: none;
}

.task_main{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-top: 1rem;
}

.task_main h1{
  font-size: 30px;
  margin: 0;
}

.task_content{
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
}

.task_content .task_list-has-task{
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  padding: 8px;
  border-radius: 12px;
  width: 500px;
}

.task_action{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.task_action input{
  height: 25px;
  border: 1px solid #ccc;
  width: 300px;
  border-radius: 5px;
  font-size: 14px;
  font-family: 'Montserrat';
}

.task_action input::placeholder{
  font-size: 14px;
  color: #ccc;
}

.task_action button{
  height: 35px;
  width: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #D50B8B;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.task_action button:hover{
  color: #fff;
  background-color: #DC8BE0;
}


.task_list .task_item{
  display: flex;
  align-items: center;
  gap: 10px;
}

.task_list .task_item button{
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
}

.task_list .task_item button:hover{
  border: 1px solid #D50B8B;
}

.task_list .task_item .task_item-delete{
  margin-left: auto;
}

@media (max-width: 768px) {
  .task_content .task_list-has-task{
    width: 90%;
  }
  .task_action input{
    width: 250px;
  }
}

@media (max-width: 375px) {
  .task_action input{
    width: 200px;
  }
}