.store-topbar-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: 10px;
  store-topbar__user .store-topbar__logo {
    padding: 0 20px 0 20px;
    h3 {
      @media (max-width: 768px) {
        font-size: 14px;
      }
    }
    @media (max-width: 768px) {
      padding: 0 0 0 10px;
    }
  }
  .store-navbar-menu {
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px 0;
    .store-navbar-link {
      color: var(--color-black);
      @media (max-width: 768px) {
        font-size: 14px;
      }
    }
  }
  .store-topbar__user {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    padding-right: 20px;
  }
}
