.swipperCustom {
  height: 60px;
  background-color: var(--color-black);
  color: #fff;
}

.swipperCustom :global(.swiper-wrapper) :global(.swiper-slide) {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--font-size16);
  line-height: 20px;
  font-family: var(--font-monserrat);
  font-weight: 500;
  @media (max-width: 768px) {
    font-size: var(--font-size14);
  }
}

.swipperCustom :global(.swiper-button-prev::after),
.swipperCustom :global(.swiper-button-next::after) {
  font-size: 16px;
  color: #fff;
  font-weight: 600;
}
