.progress-container {
  position: relative;
  width: 150px;
  height: 150px;
  z-index: 1000;
}

button:focus {
  border: none !important;
}

.progress-container .progress-ring {
  position: absolute;
  top: 0;
  left: 0;
}

.play-pause-button {
  border-radius: 50%;
  border: none;
  color: #000;
  position: absolute;
  cursor: pointer;
  position: absolute;
  top: 25%;
  left: 20%;
  transform: translate(-50% -50%, -50%);
  cursor: pointer;
  width: 40px;
  height: 40px;
  background: transparent;
}

.play-pause-button:focus {
  border: transparent;
  background-color: transparent;
}
